body {
  margin: 0;
  padding: 0;

  background: url(https://images.pexels.com/photos/3861972/pexels-photo-3861972.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: 130%;

  font-family: Helvetica;
}

/* Header **/
header {
  background-color: #dfff80;
  border-bottom: 10px solid #884dff;
  border-top: 10px solid #884dff;
}

footer {
  background-color: #99cccc;

  display: flex;
  justify-content: center;

  text-align: center;
  align-items: center;
  min-height: 2px;
  color: #ff0033;
}
